@model Front_Tarea3.Models.Appointment

@{
    ViewData["Title"] = "Registrar cita";
}

<h1>Registra tu cita</h1>
<h3>Bienvenido @ViewData["name"]</h3>
<h4>Selecciona la especialidad y la hora de la cita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
         @if (ViewData["Message_error"] != null)
        {
            <label class="message_error alert alert-danger">@ViewData["Message_error"]</label>     
        }
         @if (ViewData["Message_success"] != null)
        {
            <label class="message_success alert alert-success">@ViewData["Message_success"]</label>     
        }
        <form id="create_appointment" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>    
            <input id="item" type="hidden" value="@ViewData["item"]" />
            <input id="id" type="hidden" value="@ViewData["id"]" />
            <div class="form-group">
                <label asp-for="Appointment_date" class="control-label">Fecha de la cita</label>
                <input type="date" asp-for="Appointment_date" class="form-control" />
                <span asp-validation-for="Appointment_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Specialty" class="control-label">Selecciona la especialidad</label>
                <select id="Specialty" name="Specialty" class="form-control">
                    <option value="" selected></option>
                    <option value="Laboral">Laboral</option>
                    <option value="Penal">Penal</option>
                    <option value="Familia">Familia</option>
                    <option value="Civil">Civil</option>
                    <option value="Comercio">Comercio</option>
                    <option value="Notariado">Notariado</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Hora de la cita:</label>
                <select id="hour" name="hour" class="form-control">
                    
                </select>
            </div>
            <br />
            <div class="form-group">
                <input id="btn_appointment" type="submit" value="Registrar cita" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
